@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");


:root {
  --StrongCyan: hsl(171, 66%, 44%);
  --LightBlue: hsl(233, 100%, 69%);
  --DarkGrayishBlue: hsl(210, 10%, 33%);
  --GrayishBlue: hsl(206, 3%, 46%);
  --accentGrayishBlue:hsla(191, 26%, 65%, 1);
  --LightGrayishBlue: hsla(215, 23%, 84%, 1);
  --white: hsl(0, 100%, 100%);
/* 
  --eerie-black: hsla(0, 0%, 9%, 1);
--skobeloff: hsla(178, 93%, 23%, 1);
--pewter-blue: hsla(191, 26%, 65%, 1);
--light-periwinkle: hsla(215, 23%, 84%, 1);
--white: hsla(0, 0%, 100%, 1);
   */
}

/* General */

*,*::before,*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 0.9em 1.2em;
  font-size: clamp(0.75rem, 10vw + 1rem, 1rem);
  font-weight: 600;
  display: inline-flex;
  border-radius: 2rem;
  outline: 1px solid var(--DarkGrayishBlue);
}

h1,h2,h3,h4 {
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  background-color: var(--white);
  color: var(--DarkGrayishBlue);
  min-height: 100vh;
}


/* utilities */

.container , .container-lg {
  max-width: 45rem;
  padding-inline: 1rem;
  margin-inline: auto;
}


.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  margin-inline: auto;
}



.buttons > .btn {
  width: 80%;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: scale(0.975);
  transition: transform 350ms ease-in-out;
  box-shadow: 0 0.1rem .3rem var(--GrayishBlue);
  outline: 0;
  color: var(--white);
}

.buttons > .btn:hover,.buttons > .btn:focus {
  transform: scale(1);
}

.buttons > .btn:first-child {
  background-color: var(--StrongCyan);
}

.buttons > .btn:last-child {
  background-color: var(--LightBlue);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
/* Mobile first */
/* component */

/* header */
.top-header {
  min-height: 90vh;
  display: grid;
  place-items: center;
  background-image: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header_content {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
  text-align: center;
  padding-block: 1rem;
}

.header_content h1 {
  max-width: 35ch;
  word-wrap: normal;
  word-break: keep-all;
  font-size: clamp(1.8rem, 3vw + 1rem, 2.8rem);
}

.header_content p {
  color: var(--GrayishBlue);
  max-width: 45ch;
  line-height: 1.5;
}


/* features */

.features {
  display: grid;
  place-items: center;
  gap: 3rem;
  padding-block: 1rem;
  text-align: center;
}

.features .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.features img {
  max-width: 80%;
  margin-inline: auto;
}
.features p {
  color: var(--GrayishBlue);
  line-height: 1.5;
  max-width: 50ch;
}

.container-lg {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 3rem;
}

.features-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5em;
}
.features-content p {
  padding-block-start: 0.75rem;
}

/* workflow */

.workflow {
  padding-block: 3rem;
  display: grid;
  place-items: center;
  gap: 3rem;
  text-align: center;
}

.workflow .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.workflow p {
  max-width: 35ch;
  line-height: 1.5;
  color: var(--GrayishBlue);
}

.articles {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}
.articles article {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  align-items: center;
  gap: 1rem;
}


/* sponsors */

.sponsors {
  display: grid;
  place-items: center;
  padding-block: 2rem;
  gap: 2rem;
  grid-template-columns: 1fr;
}

.sponsors > div {
  width: 80%;
  margin: auto;
  padding-block:1rem ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsors > div img {
  max-width: 80%;
}


/* download */

.download {
  display: grid;
  place-items: center;
  gap: 1.5rem;
  padding-block: 2rem;
  text-align: center;
  margin-block-end: 4rem;
}

.download .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 80%;
}

.download p {
  max-width: 35ch;
  line-height: 1.5;
  color: var(--GrayishBlue);
}
/* footer */
footer {
background-color: var(--LightGrayishBlue);
padding-block: 4rem;
/* background-image: linear-gradient(to right, hsl(169.5, 22.9%, 51.2%), hsl(233.1, 74%, 65.3%)); */
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

footer .logo img {
  max-width: 80%;
}

footer nav {
  flex: 1;
  display: flex;
  flex-direction: column;  
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

footer ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .75rem;
}

footer a {
  color: var(--DarkGrayishBlue);
  font-weight: 600;
}

footer a:hover, footer a:focus {
  opacity: 0.75;
}

footer .social {
  flex-direction: row;
  width: 35%;
  justify-content: space-between;
}




@media (min-width:45rem) {
  .container {
    max-width: 65rem;
  }
  .top-header {
    background-image: url(../images/bg-header-desktop.png);
  }
  .header_content {
    padding-block: 2rem;
  }
  .buttons {
    flex-direction: row;
    gap: 1rem;
    width: 80%;
    margin-inline: auto;
  }

  .features img {
    max-width: 100%;
  }  

  .features-content {
    align-items: flex-start;
    justify-content: space-around;
  }
.container-lg {
  flex-direction: row;
  text-align: start;
  max-width: 100%;
}
.container-lg .img {
  align-self: flex-start;
  justify-self: flex-start;
  margin-inline-start: -5rem ;

}

.articles {
  flex-direction: row;
  padding-inline: 1rem;
  align-items: center;
  gap: 1em;
}

.sponsors {
  width: 100%;
  padding-inline: 1rem;
  margin-inline: auto;
  padding-block: 4rem;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}
.download .container {
  width: 60%;
}
footer .container {
  flex-direction: row;
  gap: 2.5rem;
}


footer nav {
  flex: 1;
  flex-direction: row;  
}


footer .social {
  align-self: flex-start;
  justify-self: flex-end;
  flex-direction: row;
  width: 10%;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-end;
}

}
